botocore==1.42.14
Django==5.2.9
django-admin-rangefilter==0.13.5
django-filter==25.2
django-import-export==4.3.14
django-minio-storage==0.5.9
django-prometheus==2.4.1
django-ratelimit==4.1.0
django-storages==1.14.6
djangorestframework==3.16.1
emoji-country-flag==2.1.0
gevent==25.9.1
gunicorn==23.0.0
huey==2.5.5
humanfriendly==10.0
prometheus-client==0.23.1
prompt-toolkit==3.0.52
psycopg2-binary==2.9.11
Pillow==12.0.0
python-json-logger==4.0.0
qrcode==8.2
redis==7.1.0
requests==2.32.5
sentry-sdk==2.47.0
tzdata==2025.3
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
