botocore==1.35.44
Django==5.1.2
django-admin-rangefilter==0.13.2
django-filter==24.3
django-import-export==4.1.1
django-minio-storage==0.5.7
django-prometheus==2.3.1
django-ratelimit==4.1.0
django-storages==1.14.4
djangorestframework==3.15.2
emoji-country-flag==2.0.1
gevent==24.10.3
gunicorn==23.0.0
huey==2.5.2
humanfriendly==10.0
prometheus-client==0.21.0
prompt-toolkit==3.0.48
psycopg2-binary==2.9.10
Pillow==10.4.0
python-json-logger==2.0.7
qrcode==8.0
redis==5.1.1
requests==2.32.3
sentry-sdk==2.17.0
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
