botocore==1.40.35
Django==5.2.6
django-admin-rangefilter==0.13.3
django-filter==25.1
django-import-export==4.3.9
django-minio-storage==0.5.8
django-prometheus==2.4.1
django-ratelimit==4.1.0
django-storages==1.14.6
djangorestframework==3.16.1
emoji-country-flag==2.0.1
gevent==25.9.1
gunicorn==23.0.0
huey==2.5.3
humanfriendly==10.0
prometheus-client==0.22.1
prompt-toolkit==3.0.52
psycopg2-binary==2.9.10
Pillow==11.3.0
python-json-logger==3.3.0
qrcode==8.2
redis==6.4.0
requests==2.32.5
sentry-sdk==2.38.0
tzdata==2025.2
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
