name: Docker Image release

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  statuses: write

jobs:
  build:
    name: build and push Docker image
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/arm64
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/shadowmere:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/shadowmere:latest
      - name: Deploy
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          curl --fail -H "Authorization: ${{ secrets.DEPLOY_TOKEN }}" "https://smd.akiel.dev/hook?script=${{ secrets.DEPLOY_SCRIPT }}"
      - name: Send slack notification
        uses: Gamesight/slack-workflow-status@master
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          repo_token: ${{secrets.GITHUB_TOKEN}}
          slack_webhook_url: ${{secrets.SLACK_WEBHOOK_URL}}
          channel: 'shadowmere'
          name: 'Deployment'
      - name: Track release in sentry
        run: |
          curl https://sentry.io/api/hooks/release/builtin/${{ secrets.SENTRY_RELEASE_TRACKING }}/ \
            -X POST \
            -H 'Content-Type: application/json' \
            -d '{"version": "${{ github.sha }}"}'

